/*! purgecss start ignore */
.privacybee-container {
    width: 100%;
    max-width: 780px;
    min-height: 100vh;
    margin-inline: auto;

}

privacybee-widget {
    display: block;
    width: 100%;
    height: 100%;
}

/*! purgecss end ignore */