/*! purgecss start ignore */

.editor-styles-wrapper {
    .editor-visual-editor__post-title-wrapper {
        max-width: 48.75rem !important;
        margin-inline: auto !important;
    }

    .is-root-container {
        .wp-block-paragraph {
            max-width: 48.75rem !important;
            margin-inline: auto !important;

        }
    }
}

.grid-row {
    .wp-block:has(.grid-item-1\/2) {
        width: calc(50% - 1rem);
    }

    .wp-block:has(.grid-item-1\/3) {
        width: calc(33.3333% - 1rem);
    }

    .wp-block:has(.grid-item-2\/3) {
        width: calc(66.6666% - 1rem);
    }

    .wp-block:has(.grid-item-1\/4) {
        width: calc(25% - 1rem);
    }

    .wp-block:has(.grid-item-3\/4) {
        width: calc(75% - 1rem);
    }

    .wp-block:has(.grid-item-2\/5) {
        width: calc(40% - 1rem);
    }
}

.logo-swiper-item-backend {
    width: auto;
    height: 12.5rem;
}

/*! purgecss end ignore */