@mixin layoutDebugOutline {
	outline: dotted 2px red !important;
}

@mixin layoutDebugBackground {
	background: rgb(0 100 0 / 0.1) !important;
}

@mixin debugAllOutlineColor {
	* {
		outline: solid 1px red;
	}
}

@mixin debugLayoutBackground {
	* {
		background: rgb(0 100 0 / 0.1);
	}
}