// Form Elements
// Border-Radius
$input-border-color: $color-primary;
$input-border-radius: 0;

// Font
// $input-btn-font-size: 1.5rem;

// Checkbox
$form-check-input-border: 1px solid $color-black;
$form-check-label-color: $color-black;

$form-check-input-checked-bg-color: $color-black;